@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Kanit", 'Courier New', Courier, monospace;
}

:root{
    --color1: #325886;
    --color2: #447AB9;
    --color3: #82A7D6;
    --color4: #FEF265;
    --color5: #1EFC1F;
    --color6: #2CDF8F;
    --color7: #001B0D;
    --color8: #000;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color3);
}

#principais{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#principal{
    display: flex;
}

#principal > img{
    width: 80px;
    transform: scaleX(-1);
}

#Contraste{
    text-align: center;
}

#principal h2{
    font-size: 1rem;
}

#principal input[type="checkbox"]{
    width: 80px;
    height: 40px;
    background-color: var(--color3);
    border: 2px solid var(--color8);
}

.switch {
    position: relative;
    display: inline-block;
    margin: auto;
    width: 80px;
    height: 36px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color3);
    -webkit-transition: .4s;
    transition: .4s;
    border: 2px solid var(--color8);
}

.slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 26px;
    left: 4px;
    bottom: 3px;
    background-color: var(--color4);
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid var(--color8);
}

input:checked + .slider {
    background-color: var(--color5);
}

input:checked + .slider:before {
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px);
    background-color: var(--color8);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#menuH{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 40px;
    margin-right: 15px;
    cursor: pointer;
}

#menuH > .linha{
    display: block;
    width: 100%;
    height: 10px;
    position: relative;
    background-color: var(--color4);
    transition: all .25s ease-in-out;
}

nav{
    display: none;
    flex-direction: column;
    align-items: center;
}

nav > a{
    width: 95%;
    max-width: 150px;
    margin: 10px;
    height: 38px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color8);
    border-radius: 10px;
    text-decoration: none;
    border: 2px solid var(--color8);
    padding: 10px;
    box-shadow: 3px 4px 0px 0px var(--color8);
    z-index: 1;
}

nav > a .linha{
    content: " ";
    display: block;
    position: relative;
    width: 20%;
    height: 151%;
    top: -45px;
    background-color: var(--color4);
    z-index: -1;
    margin: auto;
}

nav > a:hover{
    transition: all .4s ease-in-out;
    transform: scale(1.05); 
    box-shadow: 0px 0px 5px #FEF265;
}

#Principal h1{
    font-size: 2rem;
    color: #EBEBEB;
    font-weight: 400;
    text-align: center;
    background-color: var(--color2);
}

#Principal main{
    position: relative;
    z-index: -1;
    padding: 20px 10px;
    background-color: var(--color3);
}

#Principal main .linha{
    content: " ";
    display: block;
    width: 50px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 70vw;
    background-color: var(--color4);
    z-index: 0;
}

#Principal main p{
    position: relative;
    text-indent: 10px;
    margin: 30px 0;
    font-size: 1.3rem;
    z-index: 1;
}

#Principal #opcoes{
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 25px;
    background-color: var(--color3);
    border: 1px solid var(--color8);
}

#opcoes .opcao{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

#opcoes p{
    max-width: 300px;
    padding: 10px;
}

#opcoes h2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 70px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid var(--color8);
    box-shadow: 3px 4px 0px 0px var(--color8);
}

.opcao:nth-child(odd) h2{
    background-color: var(--color1);
    font-weight: 400;
    color: #fff;
}

.opcao:nth-child(even) h2{
    background-color: var(--color4);
    font-weight: 400;
}

#opcoes .opcao:first-of-type{
    border-bottom: 1px solid var(--color8);
}

#Segundaria #CTA{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EBEBEB;
    background-image: url(../images/FundoSegundarioFallout.jpg);
    background-position: center;
    background-size: cover;
}

#Segundaria #CTA > h2{
    font-size: 2rem;
    text-align: center;
    padding: 20px;
}


#Segundaria #CTA > h2 span{
    font-size: 3rem;
}


#Segundaria #CTA > p{
    text-align: center;
    font-size: 1.3rem;
    margin: 10px;
} 

#Segundaria .informacoes{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#Segundaria .informacoes .informacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    max-width: 400px;
    margin: 20px;
    font-weight: 600;
}

#Segundaria .informacoes div:last-of-type{
    max-width: 300px;
    margin: 20px;
    text-align: center;
    background-color: var(--color4);
    border-radius: 15px;
    border: 2px solid var(--color8);
    box-shadow: 3px 4px 0px 0px var(--color8);
}

#Segundaria .informacoes div:last-of-type:hover{
    transition: all .4s ease-in-out;
    transform: scale(1.05); 
    box-shadow: 0px 0px 5px #FEF265;
}

#redesSociais{
    padding: 30px;
    background-color: var(--color2);
}

#redesSociais .social{
    display: flex;
    flex-direction: row;
    max-width: 400px;
}

#redesSociais .social > img{
    width: 150px;
    height: 150px;
    border: 2px solid var(--color8);
    border-radius: 25px;
}

#redesSociais .social p{
    padding: 15px;
    color: var(--color4);
}

#redesSociais .social:last-of-type{
    flex-direction: row-reverse;
    justify-self: flex-end;
    margin-left: auto;
}

#redesSociais .social p img{
    width: 40px;
    margin-top: 30px;
    filter: invert(1);
}

#redesSociais .social:last-child p img{
    float: inline-end;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    background-color: var(--color3);
}

footer img{
    width: 40px;
}

footer img:first-of-type{
    width: 40px;
    transform: scaleX(-1);
}

footer a{
    color: var(--color4);
    text-decoration: none;
}

/* .letraVerde{ } */
.lv{ color: #0f0 !important; }
/* .fundoVerde{ } */
.fv{ background-color: #0f0 !important; }
/* .bordaVerde{  } */
.bv{ border: 2px solid #0f0 !important; }
/* .fundoPreto{  } */
.fp{ background-color: #000 !important; }
/* Filtro gray */
.fc{ filter: grayscale(1); }